<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santhrupthi</title>
    <link rel="stylesheet" href="dashboard.css"/>
</head>
<body>
    <div class="topbar">
        <img src="images/Santhrupthi_logo.png" id="logo" id="frontImage"/>
        <a href="/logout" class="logout">LogOut</a>
    </div>
    <div style="display:flex;flex-direction:row;">
        <div class="sidebar">
            <%if(type=="donar"){%>
                <a href="/dashboard" class="links"><img src="images/home1.png"/>Home</a>
            <%}%>
            <a href="/donation" class="links"><img src="images/donation1.png"/>Donation</a>
            <a href="/profile" class="links"><img src="images/profile1.png"/>Profile</a>
        </div>
        <div>
          <form action="/dashboard" method="POST" class="profileForm">
            <p class="labels">Item Name</p>
            <input type="text" name="Iname"  id="Iname" class="inputFields" required/>
            <div style="display:flex;flex-direction:row;">
                <div>
                    <p class="labels">Date</p>
                    <input type="date" name="Idate" id="Idate" class="inputFields" required/>
                </div>
                <div>
                    <p class="labels" style="margin-left:20%;">Quantity</p>
                    <input type="text" name="Quantity" id="Quantity" class="inputFields" required/>
                </div>
            </div>
            <p class="labels">Location</p>
            <input type="text" name="location" id="location" class="inputFields" required/>
            <p class="labels">Description</p>
            <textarea name="description" id="description" class="inputFields" cols="40" rows="5" required></textarea>
            <br/>
            <input type="submit" class="submitButton"/>
          </form>
        </div>
    </div>
</body>
</html>