<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santhrupti</title>
    <link rel="stylesheet" href="welcome.css"/>  
</head>
<body style="margin:0px;">
        <div style="position:relative;">
            <section class="header">
           <!---- <img src="images/happy_children.jpg" id="frontImage"/>-->
            <img src="images/Santhrupthi_logo.png" id="logo" id="frontImage"/>
            <div class="navbar">
                <a href="" class="links">ABOUT</a>
                <a href="/login" class="links">DONATE</a>
                <a href="/login" class="links">REQUEST</a>
                <a href="" class="links">CONTACT</a>
                <a href="/login" class="links">LOGIN</a>
            </div>

            <div class="mission">
                <p id="missionhead">Our Mission</p>
                <p id="missionstmnt">End Food Waste and <br/>Make India Hunger Free </p>
            </div>
        </section>


        <div class="motive">
            
            <p class="motive2">Santhrupthi provides the right channels for compassionate citizens to begin and manage initiatives, that helps in <span style="color: rgb(51, 27, 27);">managing food waste</span> and <span style="color: rgb(51, 27, 27);">solve for hunger locally</span>.</p>
            <hr>
            <img src="images/sharing.jpg" >
            <p class="motive3">According to the Food Waste Index Report published by the United Nations Environment Programme, 50kg of food is thrown away per person every year in Indian homes.</p>
            <p class="motive3">Also, we got to know that, 194 million people in India today do not have enough food to eat, the largest in any country in the world. According to the Global Hunger index 2021, India falls under the 'serious' hunger category with a rank of 101 among 116 countries.</p>
            <p class="motive4">So we as a team of Santhrupthi look forward to solve these problems as much as we can. With the help of our <span style="color: rgb(51, 27, 27);">donors</span> and <span style="color: rgb(51, 27, 27);">distributors</span>, we are moving one step closer to our goal everyday.</p>
        </div>

        <h1 class="drivers">The drivers of <span style="color: black;">our mission</span></h1>
        <div class="dr">
            <div class="drivers3">
                <img src="images/volunteer1.jpg">
                <h3>Volunteers</h3>
                <p>Feeding needy ones by Santhrupthi's network of volunteers is the backbone of our mission.
                </p>
            </div>
            <div class="drivers1">
                <img src="images/donor1.jpg">
                <h3>Donors</h3>
                <p>Our donors are primary source of our mission. They help by sharing food which otherwise be wasted.
                </p>
            </div>
            <div class="drivers2">
                <img src="images/distributor1.jpg">
                <h3>Distributors</h3>
                <p>Our distributors help us by distributing donated food to reach needy ones.
                </p>
            </div>
           
       </div>

        <div class="containers">
            <h1 class="heading">Importance Of <span style="color:black;">Donation</span></h1>
            <p class="description">Your contribution will go a long way in ensuring a reliable supply of meals for our daily wager community. Support us by sharing your location and meal details so that food waste be minimised</p>
            <a href="/login" class="buttonss">Donate Now</a>
        </div>
        <div class="containers">
            <h1 class="heading">Support the <span style="color:black;">Community</span></h1>
            <p class="description">Whether  it is freshly cooked food or raw grains, we are all hands on deck to take care of the food requirements for your beneficiaries. If our food support can help boost the impact of your work, we would love to patner with you</p>
            <a href="/login" class="buttonss">Request For Food</a>
        </div>
        <div style="background-color: rgb(214, 213, 213);">
            <div class="containers">
                <h1 class="contactUs">Contact Us</h1>
                <p>@Copyright</p>
            </div>
        </div>
        </div>  
</body>
</html>



































